<ion-view title="Como Usar" id="page5" style="background-color:#EBF3EC;">
  <ion-content padding="true" class="has-header">
    <div id="comoUsar-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Cadastramento de dispositivo</strong>
      </p>

      <p style="color:#000000;">Para efetuar o cadastramento de um novo dispositivo, é necessário que o usuário siga os seguintes passos:</p>

      <p style="color:#000000;">Efetuar login utilizando email e senha cadastrados no Issues Monitoring.</p>

      <p style="color:#000000;">
        <strong>Remoção de dispositivo</strong>
      </p>

      <pre>
        <code>Para efetuar a remoção de um dispositivo cadastrado, é necessário que o usuário siga os seguintes passos:</code>
      </pre>

      <p style="color:#000000;">Efetuar logout no aplicativo.</p>

      <p style="color:#000000;">
        <strong>Alteração de preferências</strong>
      </p>

      <pre>
        <code>Para efetuar alterações de suas preferências pessoais, é necessário que o usuário siga os seguintes passos:</code>
      </pre>

      <p style="color:#000000;">Efetuar login utilizando email e senha cadastrados no Issues Monitoring. Selecionar opção “Preferências” no menu. Preferências atuais serão exibidas na tela. O ajuste de preferências pode ser feito alterando os valores mostrados. Utilizar botão
        “Guardar” para confirmar novas preferências.</p>

      <p style="color:#000000;">
        <strong>Consulta de histórico</strong>
      </p>

      <pre>
        <code>Para efetuar alterações de suas preferências pessoais, é necessário que o usuário siga os seguintes passos:</code>
      </pre>

      <p style="color:#000000;">Efetuar login utilizando email e senha cadastrados no Issues Monitoring. Selecionar opção “Histórico” no menu.</p>
    </div>
  </ion-content>
</ion-view>