<ion-view title="Histórico" id="page4" style="background-color:#C8ECCA;">
  <ion-content padding="true" class="has-header">
    <ion-list id="histRico-list2">
      <ion-item class="item-avatar" id="histRico-list-item4">
        <h2>Ana</h2>
        <p>14:35 - 11/11/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="histRico-list-item5">
        <h2>Gabriel</h2>
        <p>16:00 - 13/11/2017</p>
      </ion-item>
      <ion-item class="item-avatar" id="histRico-list-item6">
        <h2>Victor</h2>
        <p>11:00 - 02/11/2017</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>