<ion-view title="Home" id="page1" style="background-color:#E6EEE8;">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-input2">
        <span class="input-label">Login</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input3">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.autenticado()" id="home-button1" class="button button-balanced button-block">Entrar</a>
  </ion-content>
</ion-view>